@font-face {
  font-family: "digital";
  src: url(./digital.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.calculator {
  width: 250px;
  background-color: black;
  height: 400px;
  border-radius: 5px;
}

.display {
  height: 50px;
  border-radius: 10px;
  margin: 20px 10px 20px 10px;
  color: whitesmoke;
  font-size: 60px;
  text-align: end;
  font-family: 'digital';
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 250px;
  height: 300px;
  margin-left: 5px;
  
  * {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: whitesmoke;
    font-size: 20px;
  }

  *:active {
    box-shadow: inset 0px 0px 10px black;
  }
  

  &__number {
    background-color: hotpink;
  }

  &__symbol {
    background-color: lightgray;
  }

  &__multiply {
    background-color: limegreen;
  }

  &__minus {
    background-color: limegreen;
  }

  &__divide {
    background-color: limegreen;
  }

  &__plus {
    background-color: limegreen;
  }

  &__equals {
    background-color: limegreen;
  }

  &__hidden {
    background-color: black;
  }
}

